# URL du Microservice CMS (FastAPI Python)
# En local : http://localhost:8000
# En production sur Render : https://issr-bakhita-cms.onrender.com
NEXT_PUBLIC_CMS_API_URL=http://localhost:8000

# URL du Microservice Scolarité & Admissions (NestJS Node.js)
# En local : http://localhost:3001
# En production sur Render : https://issr-bakhita-school.onrender.com
NEXT_PUBLIC_SCHOOL_API_URL=http://localhost:3001
